.btn-add-timer {
  padding: 1rem;
  background-color: gray;
  color: white;
  border-style: none;
  font-weight: bold;
  border-radius: 10px;
  display: flex;
  margin: 0 auto;
  cursor: pointer;
  margin-top: 1.5rem;
}