form {
  display: contents;
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1C1D21;
  padding: 2rem;
  z-index: 1000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 20%;
}

@media only screen and (max-width: 600px) {
  .modal-container {
    width: 100%;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0, 0 , 0, .7);
  z-index: 1000;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  color: white;
}

.close-modal {
  width: 20px;
  align-self: flex-end;
  cursor: pointer;
}

.login-logo {
  width: 20%;
  margin: 0 auto;
}

.login-name {
  border-style: none;
  border-radius: 10px;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
  margin-top: 1rem;
  background-color: #000;
  color: white;
}

.login-pw {
  border-style: none;
  border-radius: 10px;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
  background-color: #000;
  color: white;
}

.login-btn {
  padding: 1rem;
  background-color: aquamarine;
  border-style: none;
  border-radius: 10px;
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.login-btn:hover {
  background-color: rgb(106, 214, 178);
}