.sign-container {
  max-width: 30%;
  margin: 0 auto;
  padding: 5rem;
}

.form-input {
  padding: 1rem;
  border-style: none;
  border-radius: 10px;
  margin-bottom: 1rem;
  display: block;
  width: 100%;
  background-color: #1C1D21;
  color: white;
}

input::placeholder {
  font-weight: bold;
  opacity: .5;
  color: #ffffff;
}

.sign-btn {
  padding: 1rem;
  border-style: none;
  width: 50%;
  border-radius: 10px;
  background-color: blue;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin: 0 auto;
}