.board-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

.client-data {
  padding: 1rem;
  background-color: #f3f3f3;
  border-radius: 10px;
  width: 100%;
  color: #000;
  line-height: 0.5;
}

.client-name {
  font-weight: bold;
}

.board-console {
  align-items: center;
  font-weight: bold;
  justify-content: space-between;
  width: 30%;
}