.client-data {
  background-color: #1C1D21;
  border-radius: 10px;
  width: 100%;
  color: #fff;
  padding: 1rem;
  line-height: 0.5;
  box-sizing: border-box;
}

.client-name {
  font-weight: bold;
}

.board-console {
  align-items: center;
  font-weight: bold;
  justify-content: space-between;
  width: 30%;
}

.task-console {
  width: 70%;
  margin-left: 20px;
}