.nav-header {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 850px) {
  .nav-header {
    padding: 1rem;
  }
}

.auth-btns {
  display: flex;
  gap: 20px
} 

.nav-sign-btn {
  padding: 1rem;
  border-style: none;
  border-radius: 10px;
  background-color: #800080;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}

.nav-log-btn {
  padding: 1rem;
  border-style: none;
  border-radius: 10px;
  background-color: #ffffff;
  color: blue;
  font-weight: bold;
  cursor: pointer;
}